.hero-carousel {
    display: flex;
    height: 55vh;
}

.hero-carousel article {
    width:100%;
    background-size: cover;
    background-position: 50% 80%;
}

.hero-carousel .content {
    color:#ffffff;
    font-size:1.5rem;
    text-align: center;
    width:40%;
}

.hero-carousel .content h2{
    display: block;
    font-size: 2.5em;
}

.hero-carousel .content .btn {
    margin-top:1em;
    font-size: 1em;
}

.skrim {
    background: rgba(0,0,0, .45);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 768px) {

    .hero-carousel {
        display: flex;
        height: 35vh;
    }

    .hero-carousel .content {
        font-size:1.2rem;
        width:90%;
    }
    
    .hero-carousel .content h2{
        font-size: 1em;
    }
}
