#new-menu .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 75%;
    padding:1em 3em;
}

.highlite h3 {
    font-family: var(--cursive);
    font-size:1.5em;
    font-weight: 400;
    margin-top:1em;
}

.highlite p {
    width:90%;
}

.highlite a {
    font-family: var(--cursive);
    font-size:1.2em;
    font-weight: 400;
    color:var(--lightBrown);
    text-decoration: none;
    border-bottom: dashed;
    transition: all 0.35s;
}

.highlite a:hover{
    color:var(--darkBrown);
}

